@font-face {
    font-family: freight;
    src: url('FreightBigProLight-Italic.woff2');
}
@font-face {
    font-family:helvit;
    src: url('HelveticaNowDisplay-Medium.woff2');
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: freight;
}
html,body{
    width: 100%;
    height: 100%;
    position: relative;
}
#nav{
    width: 100%;
    height: 50px;
    padding: 0.5vw 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    /* background-color: red; */
}
#nav svg{
    width: 100px;
    height: 100px;
}
#loader{
    width: 100%;
    height: 100vh;
    /* background-color: yellow; */
    position: absolute;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loader video{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 6;
}
#yellow1{
    width: 100%;
    height: 100vh;
    background-color: yellow;
    position: absolute;
    z-index: 7;
}
/* #yellow2{
    width: 100%;
    height: 100vh;
    background-color: green;
    position: absolute;
    y:-800px;
    z-index: 7;
} */
#loader h1{
    width: 75%;
    text-align: center;
    font-size: 4vw;
    line-height: 4vw;
    font-weight: 200;
    position: absolute;
    color: white;
    z-index: 8;
}
#main{
    display: none;
}
#page1{
    width: 100%;
    height: 100vh;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    width: 75%;
    text-align: center;
    font-size: 4vw;
    line-height: 4vw;
    font-weight: 200;
}
#page2{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    background-image: url('https://i.pinimg.com/736x/0f/69/39/0f6939ca4e265db250f2598a4679f4b9.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all ease-in-out 0.5s;
}

.ele{
    width: 100%;
    /* background-color: red; */
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    pointer-events: all;
}
.ele > #yellow{
    width: 18vw;
    height:25px;
    background-color: yellow;
    position: absolute;
    z-index: 10;
    top:50%;
    left:40%;
    opacity: 0;
    /* filter: blur(2px); */
    transition: all ease .5s;
}
.ele > h1{
    font-size: 6vw;
    color: rgb(1, 1, 92);
    z-index: 10;
    position: relative;
    line-height: 5vw;
    text-transform: uppercase;
}
.moving{
    width: 100%;
    background-color: yellow;
    padding: .2vw .5vw;
    white-space: nowrap;
    position: absolute;
    top:50%;
    transform: scaleY(0);
    transition: all ease .5s;
}
.moving .moving_in{
  /* background-color: blue; */
  display: inline-block;
  animation-name: moving;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.moving .moving_in h1{
    display: inline-block;
    font-family: serif;
    margin-right: 1vw;
    text-transform: capitalize;
    font-size: 16px;
}

@keyframes moving {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}

.ele:hover  .moving{
    transform: scaleY(1);
}
.ele:hover  #heading{
    color:black;
}
.ele:hover #yellow{
    opacity: 1;
}

#page3{
    width: 100%;
    background-color: white;
}

#img_container{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 166, 0, 0.112);
    padding: 3vw 4vw;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}
#image{
    width: 20vw;
    height: 25vw;
    overflow: hidden;
    background-color: orange;
    border-radius: 10px;
    position: relative;
    margin: .5vw;
}
#image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}
#overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.007);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0%;
    left: 0%;
}
#overlay h1{
    text-transform: capitalize;
    text-align: center;
    -webkit-text-stroke: yellow .2px;
    opacity: 0;
}
#image:hover #overlay{
    background-color: rgba(0, 0, 0, 0.795);
}
#image:hover #overlay h1{
    opacity: 1;
}